* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #121212;
  color: #f9f8fa;
  font-family: 'Courier New', slab-serif;
}

.navbar {
  width: 100%;
  height: 40px;
  display: inline-flex;
  background: #eeeeee;
  color: #121212;
}

.nav-link {
  color: #121212;
}
